@using RestaurantApp.ViewModel
@model Tuple<IEnumerable<CustomerViewModel>, IEnumerable<ItemViewModel>, IEnumerable<PaymentTypeViewModel>>

@{
    ViewBag.Title = "Index";
}

<style>
    /*.modal
    {
        text-align:center;
        padding:0!important;
    }

    .modal:before
    {
        content:'';
        display:inline-block;
        height:100%;
        vertical-align:middle;
        margin-right:-4px;
    }

    .modal-dialog
    {
        display:inline-block;
        text-align:left;
        vertical-align:middle;
    }*/

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }

</style>

<fieldset>
    <legend>
        Restaurant
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    Customer:
                    @* @Html.DropDownList("Customer",new SelectList(@Model.Item1,dataValueField:"Value",dataTextField:"Text"),
                        htmlAttributes:new {@class="form-control"}),*@
                    <select class="form-control" asp-items="@(new SelectList(Model.Item1,"CustomerId","CustomerName"))"></select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    Payment Type:
                    @* @Html.DropDownList("PaymentType",new SelectList(@Model.Item3,dataValueField:"Value",dataTextField:"Text"),
                        htmlAttributes:new {@class="form-control"}),*@
                    <select class="form-control" asp-items="@(new SelectList(Model.Item3,"PaymentTypeId","PaymentTypeName"))"></select>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="form-group">
                    Total:
                    <input type="text" style="text-align:right" readonly='readonly' id='txtFinalTotal' name="FinalTotal" class="form-control" value="0.00" onclick='' />
                </div>
            </div>

        </div>
    </div>

</fieldset>


<fieldset>
    <legend>
        Restaurant Items
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    Item:
                    @* @Html.DropDownList("Customer",new SelectList(@Model.Item1,dataValueField:"Value",dataTextField:"Text"),
                        htmlAttributes:new {@class="form-control"}),*@
                    <select class="form-control" id="Item" asp-items="@(new SelectList(Model.Item2,"ItemId","ItemName"))"></select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    Price:
                    <input style="text-align:right" type="text" readonly="readonly" id="txtUnitPrice" value="0.00" name="Price" class="form-control" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    Quantity:
                    <input type="text" style="text-align:right" id="txtQuantity" value="" name="Quantity" class="form-control" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    Discount:
                    <input type="text" id="txtDiscount" value="0.00" name="Discount" class="form-control" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    Total:
                    <input type="text" style="text-align:right" readonly="readonly" id="txtTotal" value="0.00" name="Total" class="form-control" />
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <input type="button" style="margin-top:20px" value="Add To List" name="AddToList" id="btnAddToList" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>

</fieldset>

<fieldset>
    <legend>Restaurant Listed Item</legend>
    <table style="width:100%" id="tblRestaurantItemList">
        <thead>
            <tr>

                <th>
                    Item Name
                </th>


                <th>
                    Price
                </th>


                <th>
                    Quantity
                </th>


                <th>
                    Discount
                </th>


                <th>
                    Total
                </th>


                <th>
                    Action
                </th>
            </tr>

        </thead>
    </table>
</fieldset>



<div style="margin-top:10px">
    <input data-backdrop="static" data-keydrop="false"
    data-toggle="modal" data-target="#divPayment" type="button" style="float:right;" value="CheckOut" name="CheckOut" id="btnCheckOut" class="btn btn-primary" />
</div>

<div id="divPayment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Payment </h4>
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div class="form-group col-md-6">
                            Payment Total:
                           <input style="text-align:right" type="text" id="txtPaymentTotal" readonly="readonly" value="0.00" class="form-control" />
                        </div>

                         <div class="form-group col-md-6">
                            Payment Amount:
                           <input style="text-align:right" type="text" id="txtPaymentAmount" value="0.00" class="form-control" />
                        </div>
                    </div>

                     <div class="row">
                        <div class="form-group col-md-6">
                            Return Total:
                           <input style="text-align:right" type="text" id="txtReturnTotal"  value="0.00" class="form-control" />
                        </div>

                         <div class="form-group col-md-6">
                            Balance Amount:
                           <input style="text-align:right" type="text" readonly="readonly" id="txtBalance" value="0.00" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="btnPayment" value="Payment" >Payment</button>
                 <button class="btn btn-danger" id="btnClose" data-dismiss="modal" value="Close" >Close</button>
            </div>


        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function()
    {

       $("#Item").change(function (){
          // $("#Item").val(0);
           var itemId=$(this).children("option:selected").val();
           console.log(itemId);
           GetItemPrice(itemId);
       });
       $("input[type=text]").change(function(){
           CalculateSubTotal();
       });

        $("input[type=text]").keyup(function(){
           CalculateBalance();
       });


       $("#btnAddToList").click(function(){
                    AddTotheItemList();
       });


       function CalculateBalance (){
           var FinalAmount=$("#txtPaymentTotal").val();
           var PaymentAmount=$("#txtPaymentAmount").val();
           var ReturnAmount=$("#txtReturnTotal").val();
           var BalanceAmount=parseFloat(FinalAmount)-parseFloat(PaymentAmount) + parseFloat(ReturnAmount);
           $("#txtBalance").val(parseFloat(BalanceAmount).toFixed(2));
       }

       function AddTotheItemList()
       {
           var tblItemList=$("#tblRestaurantItemList");
             var unitPrice=$("#txtUnitPrice").val();
        var quantity=$("#txtQuantity").val();
         var discount=$("#txtDiscount").val();
         var ItemId=$("#Item").val();
         var ItemName=$("#Item option:selected").text();
         var Total=(unitPrice*quantity) -discount;

         debugger;
         var ItemList="<tr> <td hidden> "+ItemId+ '</td>'+
                            "<td>"+ItemName+'</td>'+
                            "<td>"+parseFloat(unitPrice).toFixed(2)+'</td>'+
                              "<td>"+quantity+'</td>'+
                                "<td>"+parseFloat(discount).toFixed(2)+'</td>'+
                                  "<td>"+parseFloat(Total).toFixed(2)+'</td>'+
                                  "<td> <input type='button' value='Remove' name='remove' class='btn btn-danger' onclick='RemoveItem(this)'/>  </td> </tr>";

                    tblItemList.append(ItemList);
                    FinalItemTotal();
                    ResetItem();
       }


       function FinalItemTotal(){
           $("#txtFinalTotal").val("0.00");
          // $("#txtPaymentTotal").val("0.00");
           var FinalTotal=0.00;
           $("#tblRestaurantItemList").find('tr:gt(0)').each(function(){
               var Total= parseFloat( $(this).find("td:eq(5)").text());
               FinalTotal=parseFloat(FinalTotal+Total).toFixed(2);
              // alert(FinalTotal);

           });

           $("#txtFinalTotal").val(FinalTotal);
           $("#txtPaymentTotal").val(FinalTotal);
            $("#txtBalance").val(FinalTotal);
       }

       function ResetItem()
       {
           $("#txtUnitPrice").val('');
           $("#txtQuantity").val('');
           $("#txtDiscount").val('0');
           $("#Item").val(0);
           $("#txtTotal").val('');
       }

    });

     function RemoveItem(itemId)
       {
           debugger;
           $(itemId).closest('tr').remove();

       }


    function CalculateSubTotal()
    {
        var unitPrice=$("#txtUnitPrice").val();
        var quantity=$("#txtQuantity").val();
         var discount=$("#txtDiscount").val();
         var Total=(unitPrice*quantity) -discount;

         $("#txtTotal").val(parseFloat(Total).toFixed(2));

    }



    function GetItemPrice(itemId){
        $.ajax({

            async:true,
            type:'GET',
            dataType:'JSON',
           // contentType:'application/json; charset=utf-8',
            data:{ItemId:itemId},
            url:'/Customer/getItemPrice',
            success:function (data){
                debugger;
                $("#txtUnitPrice").val(parseFloat(data).toFixed(2));
            },

            error:function(){
                alert("There is a problem to get unit price");
            }
        });
    }


</script>